/*background image*/

#bcg-img{
    background: url(./assets/linus-nylund-SfdwxMA5VIM-unsplash.jpg);
    display: table;
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

img{
    object-fit: cover;
    object-fit: contain;
    height: 50%;
    max-height: 500px;
    box-sizing: border-box;
}